{% extends 'base.html' %}

{% block content %}
  <section class="sec-Section">
    <div class="sec-Section_Inner">
      <div class="flt-Filters">
        <div class="flt-Filter">
          <div class="flt-Switch">
            <div class="flt-Switch_Left">
              <ul class="flt-Switch_Items">
                <li class="flt-Switch_Item">
                  <a href="" class="flt-Switch_Link flt-Switch_Link-active">
                    {% include 'cards-icon.svg' %}
                  </a>
                </li>
                <li class="flt-Switch_Item">
                  <a href="" class="flt-Switch_Link">
                    {% include 'list-icon.svg' %}
                  </a>
                </li>
                <li class="flt-Switch_Item">
                  <a href="" class="flt-Switch_Link">
                    {% include 'location-icon.svg' %}
                  </a>
                </li>
              </ul>
            </div>
            <div class="flt-Switch_Right">
              <div class="flt-Switch_Sort">
                <label for="" class="flt-Switch_Label">Sort by</label>
                <select name="" id="" class="flt-Switch_Select">
                  <option value="" class="flt-Switch_Option">Country (A - Z)</option>
                  <option value="" class="flt-Switch_Option">Country (Z - A)</option>
                  <option value="" class="flt-Switch_Option">Price (high)</option>
                  <option value="" class="flt-Switch_Option">Price (low)</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="flt-Filter">
          <div class="flt-Switch">
            <div class="flt-Switch_Left flt-Switch_Left-search">
              <div class="flt-Switch_Search">
                <button class="flt-Switch_SearchButton">
                  {% include 'search-icon.svg' %}
                </button>
                <input type="text" class="flt-Switch_SearchInput" placeholder="Search destinations">
              </div>
            </div>
            <div class="flt-Switch_Right">
              <div class="flt-Switch_Sort">
                <label for="" class="flt-Switch_Label">Country</label>
                <select name="" id="" class="flt-Switch_Select">
                  <option value="" class="flt-Switch_Option">United Kingdom</option>
                  <option value="" class="flt-Switch_Option">France</option>
                  <option value="" class="flt-Switch_Option">Italy</option>
                  <option value="" class="flt-Switch_Option">Spain</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="crd-List">
        <ul class="crd-List_Items">
          {% for destination in destination_list %}
            <li class="crd-List_Item">
              <a class="crd-Card" href="{{ destination.get_absolute_url() }}">
                <div class="crd-Card_ImageContainer">
                  {{ render_lazy_image(destination.image, width=390, height=216, crop='center') }}

                  <ul class="crd-Card_Items">
                    <li class="crd-Card_Item">
                      <p class="crd-Card_Price">£540</p>
                    </li>
                    <li class="crd-Card_Item">
                    <span class="crd-Card_Favourite">
                      {% include 'heart-icon.svg' %}
                    </span>
                    </li>
                  </ul>
                </div>

                <div class="crd-Card_Body">
                  <h3 class="crd-Card_Title">{{ destination.location }}</h3>
                  <h4 class="crd-Card_SubTitle">{{ destination.country }}</h4>

                  <p class="crd-Card_Text">{{ destination.description|truncatewords_html(22)|striptags }}</p>

                  <span class="crd-Card_Link">
                  <span class="crd-Card_LinkText">Find out more</span>
                  <span class="crd-Card_LinkIcon">
                    {% include 'arrow-icon.svg' %}
                  </span>
                </span>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
