/*
|--------------------------------------------------------------------------
| Filter
|--------------------------------------------------------------------------
| @namespace: dst-
|
*/
.dst-Filter {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  padding-top: 3.5vr;
  padding-bottom: 0.5vr;

  /* stylelint-disable function-url-quotes */
  background-image: url(/static/img/paper-texture.png);
  /* stylelint-enable */
  background-repeat: repeat-x;
  background-size: cover;
}

.dst-Filter_Inner {
  @include Grid_Container;
}

.dst-Filter_Body {
  align-items: center;
  justify-content: space-between;

  display: flex;
}
/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.dst-Filter_Items {
  display: flex;
  margin-right: calc(var(--Grid_Gutter) * -2);
  margin-left: @margin-right;
}

.dst-Filter_Item {
  align-items: center;

  display: flex;
  margin-right: calc(var(--Grid_Gutter) * 2);
  margin-left: @margin-right;
}

/*
|--------------------------------------------------------------------------
| Label Item
|--------------------------------------------------------------------------
|
*/
.dst-Filter_Icon {
  margin-right: var(--Grid_Gutter);

  /* stylelint-disable selector-max-type */
  svg {
    width: 45px;
    height: @width;
  }
  /* stylelint-enable */
}

.dst-Filter_Label {
  display: block;

  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: var(--Color_Burgundy);
}

.dst-Filter_Select {
  height: 28px;
  margin-left: -8px;

  letter-spacing: 3px;
  text-transform: uppercase;

  border: transparent;

  color: var(--Color_Body);

  transition: color, var(--Global_Transition);

  &:hover {
    color: var(--Color_Burgundy);
  }
}

.dst-Filter_Link {
  @include Button-secondary;

  &:hover {
    background-color: var(--Color_Blue);
    border-color: var(--Color_Blue);
  }
}
