/*
|--------------------------------------------------------------------------
| Filter
|--------------------------------------------------------------------------
| @namespace: dst-
|
*/
.dst-Filter {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  padding-top: 0.5vr;
  padding-bottom: @padding-top;

  background-color: var(--Color_Sand);
}

.dst-Filter_Inner {
  @include Grid_Container;
}

.dst-Filter_Body {
  align-items: center;
  justify-content: space-between;

  display: flex;
}
/*
|--------------------------------------------------------------------------
| Items
|--------------------------------------------------------------------------
|
*/
.dst-Filter_Items {
  @apply --GridRow;
}

.dst-Filter_Item {
  @apply --GridColumn;
}

.dst-Filter_Label {
  display: block;

  letter-spacing: 3px;
  text-transform: uppercase;

  color: var(--Color_Burgundy);
}

.dst-Filter_Select {
  height: 28px;
  margin-left: -7px;

  letter-spacing: 3px;
  text-transform: uppercase;

  border: transparent;

  color: var(--Color_Light);

  transition: color, var(--Global_Transition);

  &:hover {
    color: #fff;
  }
}

.dst-Filter_Link {
  @include Button-secondary;
}
