/*
|--------------------------------------------------------------------------
| Information
|--------------------------------------------------------------------------
| @namespace: crd
|
*/

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
*/
.crd-Information_Header {
  margin-bottom: 40px;
  margin-left: 40px;
}

/*
|--------------------------------------------------------------------------
| Image
|--------------------------------------------------------------------------
|
*/
.crd-Information_ImageContainer {
  width: calc(2 / 3 * 100%);
  margin-bottom: 40px;
}

/*
|--------------------------------------------------------------------------
| Content
|--------------------------------------------------------------------------
|
*/
.crd-Information_Content {
  margin-left: 40px;
}
