/* We use an order that is beneficial for a 'settings' file */
/* stylelint-disable */
:root {
  /*
  |--------------------------------------------------------------------------
  | Colours
  |--------------------------------------------------------------------------
  |
  */
  --Color_Gradient-light: rgba(160, 160, 160, 0.55);
  --Color_Peach: #fa6044;
  --Color_Red: #ff2424;
  --Color_Dark: #cdcdcd;
  --Color_Peach-faded: rgba(221, 62, 33, 0.8);

  --Color_Anchor: #ff2424;
  --Color_Body: #444;
  --Color_Border: #f6f6f6;

  /*
  |--------------------------------------------------------------------------
  | Fonts
  |--------------------------------------------------------------------------
  |
  */
  /**
  * Font - Families
  */
  --Font_Family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --Font_Family-poppins: 'Poppins', var(--Font_Family);
  --Font_Family-anton: 'Anton', var(--Font_Family);
  --Font_Family-body: var(--Font_Family-poppins);


  /**
  * Font - Sizes
  */
  /* letter-spacing: calc(${100}em / 1000) ${} = number in photoshop */
  --Font-16: { font-size: 16px; line-height: 1vr; };
  --Font-18: { font-size: 16px; line-height: 1vr; };
  --Font-22: { font-size: 22px; line-height: 1vr; };
  --Font-42: { font-size: 42px; line-height: 1vr; };
  --Font-110: { font-size: 110px; line-height: 6vr; };

  /*
  |--------------------------------------------------------------------------
  | Grid
  |--------------------------------------------------------------------------
  |
  */
  --Grid_Constrained: 1600px;
  --Grid_Container: 1240px;
  --Grid_Gutter: 15px;
  /* This differentiates to the Grid_Gutter in that this is used for the inside of panels and
   cards. On all old projects this has been styled by using the Grid_Gutter. This is wrong, it
   seemed right because the insides were normally 30ish and the Grid_Gutter was 30 as well so i
   just assumed a natural connection between the 2. This actually has been coincidental and it's
   just that we normally use a Grid_Gutter of 15 we haven't come across is */
  --Grid_Inside: 15px;

  --GridContainer: {
    /* We add the `_Inside` to the container instead of the `_Gutter` as if we have a rather large
     gutter on a project this can really shrink the available content size on smaller devices */
    max-width: calc(var(--Grid_Container) + (var(--Grid_Inside) * 2));
    width: 100%;
    margin-right: auto;
    margin-left: @margin-right;
    padding-right: calc(var(--Grid_Inside) * 2);
    padding-left: @padding-right;
  };

  --GridRow: {
    display: flex;
    margin-right: -var(--Grid_Gutter);
    margin-left: @margin-right;
  };

  --GridColumn: {
    margin-right: var(--Grid_Gutter);
    margin-left: @margin-right;
  };

  /*
  |--------------------------------------------------------------------------
  | Buttons
  |--------------------------------------------------------------------------
  | These are only to be used for the button mixins. The mixins themselves should be used when
  | you want the button style.
  |
  */
  --Button-base: {
    display: inline-block;
    padding: 1vr calc(var(--Grid_Gutter) * 2);

    background-color: transparent;
    border: 1px solid transparent;
    color: #fff;

    /* Style reasons */
    transition: background-color var(--Global_Transition),
                border var(--Global_Transition),
                color var(--Global_Transition);
  };

  /*
  |--------------------------------------------------------------------------
  | Miscellaneous
  |--------------------------------------------------------------------------
  |
  */
  --Global_Radius: 3px;
  --Global_Transition: 0.2s;
  --Transition_EaseOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.075);

  /*
  |--------------------------------------------------------------------------
  | Styles
  |--------------------------------------------------------------------------
  |
  */
  font: 16px / 1.75 var(--Font_Family-body);

  cursor: auto;
}
/* stylelint-enable */
